* {
    box-sizing: border-box;
}

body {
    background-color: #000000;
    height: 400px;
}

h1, h2, h3, h4, h5, h6, a, span, p, text, em, button, label, div {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}

.dividing-line {
    width: 100%;
    height: 1px;
}

body > article {
    background-image: url(../images/blog-background.png);
    background-size: 100% 100%;
    width: 100%;
    height: 23.888888vw;
    box-shadow: inset 0px 0px 1px #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 35px 0px 35px 0px;
}

body > article h3 {
    font-size: 1.3888888vw;
    line-height: 1.7vw;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 2.7777777vw 0px 3.5416666vw 0px;
}

@media (max-width: 768px) {
    body > article {
        display: none;
    }
}